<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css">
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/ui-lightness/jquery-ui.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>tabbr</title>
  <body>
    <h1>Welcome on board biatch, please login</h1>
    <form method="post" action="/login">
    	<input type="text" value="" name="login" >
	<br/>
	<input type="password" value="" name="pwd" >
	<br/>
	<input type="submit" value="oki doki" />
    </form>
  </body>
</html>