<h1>Hey biatch, this is your fuckin timeline</h1>
<form method="post" action="/tweet">
  <input type="text" value="" name="tweet" onkeypress="javascript:majText(this);" >
  <label id="counter">140</label>
  <br/>
  <input type="submit" value="je suis une merde, je tweet" />
</form>
<ul>
  <% for tweet in @tweets %>
    <li><b><%= tweet.user.screen_name %> : <%= add_links(tweet.text) %></b></li>
  <% end %>
</ul>